<li class='item'>

  <div class='thumbnail-container' style='height:64px'>

    <div>
      <img src= '{{ ( or .Params.thumbnail "favicon-64x64.png") | relURL}}' width='64px' style="float:left">
    </div>

    <header class='item-header' style='margin-left:72px'>
      <h3 class='item-title'>
        <a href='{{ .Permalink | relURL }}'>
          {{- .Title -}}
        </a>
      </h3>
  
      <div class='meta'>
        {{ partial "list/date" . }}
      </div>
  
    </header>
  </div>

</li>
